<!DOCTYPE html>
<html layout:decorator="default">

<body>
	<section layout:fragment="content">

		<!--- col 12 -->
		<div class="col-md-12 col-sm-12 col-xs-12 content">

			<!-- Title -->
			<div class="x_title">
				<h2>Novo Departamento</h2>
				<!--- clear -->
				<div class="clearfix"></div>
				<!--- / clear -->
			</div>

			<div class="x_content">
				<div class="col-sm-12 col-xs-12">
					<form method="post" th:action="@{/departamento/create}" role="form" th:object="${departamento}">

						<!-- NOME-->
						<div class="col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Nome</label>
								<span class="required">*</span>
								<input type="text" class="form-control" th:field="*{nome}" />
							</div>
						</div>


						<!-- CHEFE -->
						<div class="col-sm-4 col-xs-12">
							<div class="form-group">
								<label>Chefia</label>
								<span class="required">*</span>
								<select class="form-control" th:field="*{chefeId}">
									<option value="0">Selecione</option>
									<option th:each="usuario : ${usuarios}" th:value="${usuario.id}" th:text="${usuario.username}"></option>
								</select>
							</div>
						</div>

						<div class="col-xs-12">
							<div class="ln_solid"></div>
							<div class="pull-right" style="padding: 0;">
							<button type="submit" id="submit" class="btn btn-primary">Salvar</button>
							<button type="submit" id="submit" class="btn btn-default">
								<a href="/departamento/">Cancelar</a>
							</button>
						</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
</body>

</html>