<!DOCTYPE html>
<html layout:decorator="default">
<body>
<section layout:fragment="content">

    <!--<form method="put" name="comment_form" id="comment_form"-->
          <!--th:action="@{/localizacao/edit}" role="form" th:object="${localizacao}">-->
        <!--<div class="form-group">-->

            <!--<label for="name">Nome</label>-->
            <!--<input type="text" class="form-control" th:field="${localizacao.name}" />-->

            <!--<label for="address">Address</label>-->
            <!--<input type="text" class="form-control" th:field="${localizacao.address}" />-->

        <!--</div>-->

        <!--<button type="submit" id="submit" class="btn btn-primary">Salvar</button>-->
    <!--</form>-->

    <span class="form-group" th:text="${localization.}"></span>
</section>
</body>
</html>
