<!DOCTYPE html>
<html layout:decorator="default">
<body>
<section layout:fragment="content">

    <form method="put" name="comment_form" id="comment_form"
          th:action="@{/bem/edit}" role="form" th:object="${bem}">
        <div class="form-group">

            <label for="name">Código</label>
            <input type="text" class="form-control" th:field="${bem.codigo}" />

            <label for="address">Address</label>
            <input type="text" class="form-control" th:field="${localizacao.nome}" />

        </div>

        <button type="submit" id="submit" class="btn btn-primary">Salvar</button>
    </form>

</section>
</body>
</html>
