<!DOCTYPE html>
<html layout:decorator="default">
<body>
	<section layout:fragment="content">

		<a class="btn btn-primary" href="/bem/new">Adicionar Novo Bem Patrimonial</a>

		<table class="table table-striped" id="list_bens">
			<thead>
				<tr>
					<th>Id</th>
					<th>Código</th>
					<th>Nome</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="bem : ${bens}">
					<td data-th-text="${bem.id}"></td>
					<td class="message" data-th-text="${bem.numeroTombamento}"></td>
					<td class="message" data-th-text="${bem.nome}"></td>
					<td>
						<a class="btn btn-primary" th:href="@{/bem/edit/{id}(id=${bem.id})}">Editar Bem Patrimonial</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>