<!DOCTYPE html>
<html layout:decorator="default">
<body>
	<section layout:fragment="content">

		<form method="post" name="comment_form" id="comment_form"
			th:action="@{/bem/create}" role="form" th:object="${bem}">
			<div class="form-group">

				<label for="name">Código</label>
				<input type="number" class="form-control" th:field="*{numeroTombamento}" />

				<label for="address">Nome</label>
				<input type="text" class="form-control" th:field="*{nome}" />

			</div>
			<button type="submit" id="submit" class="btn btn-primary">Salvar</button>
		</form>
	</section>
</body>
</html>
