<!DOCTYPE html>
<html layout:decorator="default">
<body>
	<section layout:fragment="content">

		<form method="post" th:action="@{/predio/create}" role="form" th:object="${predio}">
			<div class="form-group">
			
					<select class="form-control" th:field="${predio.localizacaoId}">
						<option value="0" ></option>
						<option th:each="localizacao : ${localizacoes}"
							th:value="${localizacao.id}" th:text="${localizacao.name}"></option>
					</select>

			</div>
			<button type="submit" id="submit" class="btn btn-primary">Salvar</button>
		</form>
	</section>
</body>
</html>
