<!DOCTYPE html>
<html layout:decorator="default">
<body>
	<section layout:fragment="content">

		<a class="btn btn-primary" href="/localizacao/new">Adicionar Nova Localização</a>

		<table class="table table-striped" id="disciplines_list">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="localizacao : ${localizacoes}">
					<td style="width:10%" data-th-text="${localizacao.id}"></td>
					<td style="width:40%" class="message" data-th-text="${localizacao.address}"></td>
					<td style="width:40%" class="message" data-th-text="${localizacao.name}"></td>
					<td style="width:10%">
						<a class="btn btn-primary" th:href="@{/localizacao/edit/{id}(id=${localizacao.id})}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal"><i class="fa fa-trash" aria-hidden="true"></i></button>				
					</td>
					
	
					
						  <div class="modal fade" id="deleteModal" role="dialog">
						    <div class="modal-dialog">
						      <!-- Modal content-->
						      <div class="modal-content">
						        <div class="modal-header">
						          <button type="button" class="close" data-dismiss="modal">&times;</button>
						          <h4 class="modal-title">Confirmar Exclusão</h4>
						        </div>
						        <div class="modal-body">
						          <p>Deseja realmente excluir este registro?</p>
						          
						        </div>
						        <div class="modal-footer">
						        <a class="btn btn-danger" th:href="@{/localizacao/delete/{id}(id=${localizacao.id})}"><i class="fa fa-pencil" aria-hidden="true"> Excluir</i></a>
						          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
						        </div>
						      </div>
						      
						    </div>
						  </div>
					
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>