<!DOCTYPE html>
<html layout:decorator="default">
<body>
	<section layout:fragment="content">

		<a class="btn btn-primary" href="/localizacao/new">Adicionar Nova Localização</a>

		<table class="table table-striped" id="disciplines_list">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="localizacao : ${localizacoes}">
					<td style="width:10%" data-th-text="${localizacao.id}"></td>
					<td style="width:40%" class="message" data-th-text="${localizacao.address}"></td>
					<td style="width:40%" class="message" data-th-text="${localizacao.name}"></td>
					<td style="width:10%">
						<a class="btn btn-primary" th:href="@{/localizacao/edit/{id}(id=${localizacao.id})}"><i class="fa fa-pencil" aria-hidden="true"></i></a>
						<a class="btn btn-danger" th:href="@{/localizacao/delete/{id}(id=${localizacao.id})}"><i class="fa fa-trash" aria-hidden="true"></i></a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>