<!DOCTYPE html>
<html layout:decorator="default">
<body>
	<section layout:fragment="content">

		<a class="btn btn-primary" href="/localizacao/new">Adicionar Nova Disciplina</a>

		<table class="table table-striped" id="disciplines_list">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>Address</th>
				</tr>
			</thead>
			<tbody>
				<tr data-th-each="localizacao : ${localizacoes}">
					<td data-th-text="${localizacao.id}"></td>
					<td class="message" data-th-text="${localizacao.address}"></td>
					<td class="message" data-th-text="${localizacao.name}"></td>
					<td>
						<a class="btn btn-primary" th:href="@{/localizacao/edit/{id}(id=${localizacao.id})}">Editar Localizacao</a>
					</td>
				</tr>
			</tbody>
		</table>
	</section>
</body>
</html>